/* Clear Sans */
@font-face {
    font-family: 'Clear Sans';
    src: url('/fonts/clear-sans/ClearSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Clear Sans';
    src: url('/fonts/clear-sans/ClearSans-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

/* Martel Sans */
@font-face {
    font-family: 'Martel Sans';
    src: url('/fonts/martel-sans/MartelSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Martel Sans';
    src: url('/fonts/martel-sans/MartelSans-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

/* Nunito Sans */
@font-face {
    font-family: 'Nunito Sans';
    src: url('/fonts/nunito-sans/NunitoSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Nunito Sans';
    src: url('/fonts/nunito-sans/NunitoSans-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}